/* == FONTS == */
/* 
font-family: 'IBM Plex Sans', sans-serif; (300 OR 600) */

@import url('https://fonts.googleapis.com/css2?family=Chivo&family=IBM+Plex+Sans:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap');


* {
	margin: 0;
	padding: 0;
}

/*h1{
  margin-bottom: 1%;
}*/

h2{
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2%;
}

.banner {

	font-family: 'IBM Plex Sans', sans-serif;	
	font-weight: 600;
	/* font-size: 20px; */
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.336), rgba(0,0,0,0.75)), url(background3.jpg);
	background-size: cover;
	background-position: center;

}

.about-banner {
	/* font-size: 20px; */
	width: 100%;
	height: 50vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.747), rgba(0,0,0,0.75)), url(teamOnZoom.jpg);
	background-size: cover;
	background-position: center;
}

.feat-banner{
	/* font-size: 20px; */
	width: 100%;
	height: 50vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.747), rgba(0,0,0,0.75)), url(equipment.jpg);
	background-size: cover;
	background-position: center;
}

.tsa-banner {
	/* font-size: 20px; */
	width: 100%;
	height: 50vh;
	background-color: #0cbaba;
	background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
	background-size: cover;
	background-position: center;
}

/* makes all the navbar items appear in one line and spaced out */
.navbar {
	font-family: 'IBM Plex Sans', sans-serif;	
	font-weight: 600;
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.navbar ul li {
	list-style: none; /* gets rid of the bullet points */
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.navbar ul li a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	position: relative;

}


.navbar ul li::after {
	content: '';
	height: 3px;
	width: 0;
	background: #09A6F3;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;

}

.navbar ul li:hover::after {
	width: 100%;
}

/* .navbar li a:hover {
	color: #09A6F3;

} */

.logo {
	width: 50px;
	height: 50px;
	cursor: pointer;

}

.bottom-img {
	width: 100%;
}

.headerText {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
}

.headerText h2 {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 300;
}

.regHeaderText {
	/* width: 100%;
  max-width: 100%; */
	width: 80%;
	/* position: absolute;
	top: 50%;
	transform: translateY(-100%); */
  
	text-align: left;
	color: #fff;
	padding-left: 10%;
}

.regHeaderText p {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 300;
  margin-bottom: 2%;
  white-space: clip;
}

.regHeaderText h1 {
	font-family: 'IBM Plex Sans', sans-serif;	
	font-weight: 600;
}

.headerText h1 {
	font-size: 70px;
	margin-top: 80px;
}

.headerText p {
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
}

.bsrBtn {
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-family: 'IBM Plex Sans', sans-serif;	
	font-weight: 600;
	border: 2px solid #09A6F3;
	background: transparent;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;

}

:focus {
  outline: 0 !important;
}

.headerText span {
	background: #09A6F3;
	height: 100%;
	width: 0;
	border-radius: 25px;
	position:absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}

.bsrBtn:hover span {
	width: 100%;
}

.bsrBtn:hover {
	border: none;
}


/* -------- END OF HOME PAGE COVER ------ */
/* -------- START OF MAIN TEXT -------*/

.lightSection {
	padding: 75px 10% 75px 10%;
	background-color: #fff;
}

.darkSection {
	padding: 75px 10% 75px 10%;
	background-color: #F8F8F8;
}

.center {
	text-align: center;
}
.lightSection h1, h3{
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 600;
	padding-bottom: 5px;
}

.darkSection h1 {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 600;
	text-align: left;
	padding-bottom: 5px;
}

.darkSection h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: left;
  font-weight: 700;
  margin-bottom: 1%;
}

.lightSection h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: left;
  font-weight: 700;
  margin-bottom: 1%;
}

.coverText h1 {
	font-family: 'IBM Plex Sans', sans-serif;	
	font-weight: 600;
	padding-bottom: 5px;
}

.lightSection p {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 300;
	color: #3F4446;

}

.darkSection p {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 300;
	color: #3F4446;
}

.coverText p {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 300;
}

/* == ICON SECTION == */
.iconSection {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}


.stack {
	width: 30%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.side{
  width: 30%;
  display: flex;
  flex-direction: row;
  text-align: left;
}

.fa-id-badge, .fa-notes-medical, .fa-window-restore{
	color: #1B1F21;
}

/* .fa-instagram, .fa-twitter, fa-facebook{
	color: #3F4446;
} */

a { color: inherit; } 



/* =! END OF ICON SECTION != */


.photoCover-1 {
	padding: 75px 10% 75px 10%;
	/* padding-left: 0; */
  text-align: left; /* center the text */
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://images.unsplash.com/photo-1563013544-824ae1b704d3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cHVyY2hhc2V8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white; /* white text color */
}



.bsrfBtn {
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	border: 2px solid #09A6F3;
	background: transparent;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	font-family: 'IBM Plex Sans', sans-serif;	
	font-weight: 600;
}



.ytVideo {
	margin-top: 25px;
	display:flex;
	justify-content: center;
	padding: 0px;
}


html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	margin-bottom: -190px;
}

.footer, .push {
	height: 190px;
	/* background-color: #1B1F21; */
	background-color: #1B1F21;
}

.leftAlign {
	display: flex;
	flex-direction: column;
	text-align: left;
	color: #F8F8F8;
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 500;
	padding: 2%;
	padding-left: 5%
}

.leftAlign h1 {
	font-size: 30px;
	text-transform: uppercase;
}

.leftAlign p {
	font-size: 15px;
	padding-bottom: 1%;
}

.logohr {
	width: 15%;
	border: 1px solid #09A6F3;
	border-radius: 1px;
}

.blueHr {
	width: 40%;
	border: 1px solid #09A6F3;
	border-radius: 1px;
}

.logoRow {
	padding-top: 1%;
	display: flex;
	flex-direction: row;
	width: 15%;
	justify-content: space-between;
}

.user {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

	background-image: url('edwardBrownPFP.jpg');
}

.edward {
	background-image: url('edwardBrownPFP.jpg');
}

.emilia {
	background-image: url('emiliaPFP.jpg');
}

.james {
	background-image: url('jamesPFP.jpg');
}

.columnDetails {
	padding-left: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 70%;
}

.rowDetails {
	display: flex;
	flex-direction: row;
}

.ytRow {
	display: flex;
	flex-direction: row;
}

/* --------------------- SARA STARTS HERE --------------------------- */

.formSection{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 2%;
  box-shadow: 0px 0px 20px #00000010;
  background-color: #F8F8F8;
  border-radius: 8px;
  margin-bottom: 20px;
}

.form-group{
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}

.form-group input,
.form-group textarea{
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 0;
  margin-top: 5px;
  font-family: 'IBM Plex Sans', sans-serif;
  background: transparent;
  border-bottom: 2px solid #09A6F3;
}

textarea{
  resize: vertical;
}

.btn{
  width: 95%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 12px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: .3s ease background-color;
  background-color: #00000010;
}

.btn:hover{
  background-color: #00000020;
}
/*
.anim{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 200%;
  font-weight: 300;
}

.anim span:before{
  font-weight: 700;
  transform: translate(-50%, -50%);
  content: "";
  animation: animate infinite 8s;
}

@keyframes animate{
  0%{
    content: "Doctors";
  }
  33%{
    content: "Patients";
  }
  66%{
    content: "Administration";
  }
  100%{
    content: "Medical Staff";
  }
}
*/

.featBox1{
	display: flex;
	flex-direction: row;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 2%;
  box-shadow: 0px 0px 20px #00000010;
  background-color: #F8F8F8;
  border-radius: 8px;
  margin-bottom: 20px;
}

.featIcons {
	display: flex;
	justify-content: center;
	padding: 5%;
}

.featBox2{
	display: flex;
	flex-direction: row;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 2%;
  box-shadow: 0px 0px 20px #00000010;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
}


.featText {
	width: 90%;
}

.featText h3 {
	text-align: left;
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 600;
}

.justifyCenter{
  display: flex;
  justify-content: center;
}

.accordion{
  width: 100%;
}

.accordion .contentBx{
  position: relative;
  margin: 10px 20px;
}

.accordion .contentBx .label{
  font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 300;
  position: relative;
  padding: 10px;
  background: #09A6F3;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
}

.accordion .contentBx .label::before{
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  /*font-size: 1.5em;*/
}

.accordion .contentBx.active .label::before{
  font-weight: 700;
  content: "—";
}

.accordion .contentBx .content{
  position: relative;
  background: #fff;
  height: 0;
  overflow: hidden;
  transition: 0.25s;
  overflow-y: auto;
  border-radius: 10px;
}

.accordion .contentBx.active .content{
  height: 10%;
  padding: 10px;
}

/* BIGCOMMENTS START HERE */
.bigRow{
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.bigBox{
  width: 100%;
  max-width: 50%;
  background: white;
  margin: 0 auto;
  padding: 2%;
  box-shadow: 0px 0px 20px #00000010;
  border-radius: 8px;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  
}

.bigLabel{
  font-family: 'IBM Plex Sans', sans-serif;	
	font-weight: 600;
  margin-bottom: 2%;
}

.bigStars{
  display: flex;
	flex-direction: row;
	justify-content: space-evenly;
  color: gold;
  
}

.bigComment{
  font-family: 'IBM Plex Sans', sans-serif;	
	font-weight: 300;
}